body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#container {}

#center {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#button1 {}

.quote {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "image quote"
        "author ."
        "id .";

    img {
        grid-area: image;
        width: 100%;
        height: auto;
        max-width: 300px;
        max-height: 300px;
    }

    ul {
        display: grid;

        li {
            list-style: none;
            display: flex;

            #quoteText {
                grid-area: quote;
                justify-content: center;
            }

            #author {
                grid-area: author;
            }

            #id {
                grid-area: id;
            }
        }
    }
}
